{% autoescape off %}
Bu e-posta, {{ user.get_username }} kullanıcısının şifrenizi sıfırlamanızı sağlamak için gönderilmiştir. Lütfen aşağıdaki bağlantıyı tıklayarak devam edin:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Bu bağlantıya tıklamazsanız veya siz değilse başkası tarafından istenmemişse, endişelenmeyin, bağlantıya tıklamazsınız. Bu bağlantı, şifrenizi sıfırlamak için gereklidir ve yalnızca sizin tarafınızdan kullanılabilir.

Saygılarımızla,
Sistem Yöneticisi
{% endautoescape %}
