<!-- templates/registration/password_reset_form.html -->
{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4>Şifre Sıfırlama</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">E-posta Adresi</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Şifremi Sıfırla</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
