{% extends  'layout.html'%}                     <!-- ŞABLONU LAYOUT HTML YAP  -->

<html>
 <head>
<style>
body {
            color: white;

        }

</style>
 </head>
 <body>


{% block content %}
<br><br><br>
<h3 style="color: black; margin-left: 20px; margin-right: 20px; "> YAZI İŞLERİ MÜDÜRLÜĞÜ SINAVI İÇİN HAZIRLANAN  SİTELERİN SADECE SORU ÇÖZMEK İÇİN OLDUĞUNU GÖRDÜK VE BU EKSİKLİĞİ TAMAMLAMAK İÇİN ÇABA SARF ETTİK BİZİM  GÖZÜMÜZDEN OLDUĞUNU DÜŞÜNÜYORUZ BAKALIM SINAVA ÇALIŞANLARDA AYNI FİKİRDE OLACAK MI  </h3> <br><br>
                     <h3 style="color: black; margin-left: 20px; margin-right: 20px;"> BU NOTLARI ÖNCELİKLE İŞARETSİZ OLARAK OKUMANIZ  VE DAHA SONRA TEKRAR EDERKEN İŞARETLİ YERLERİ GÖREREK OKUMANIZ HIZLI BİR ŞEKİLDE KONULARI TEKRAR EDEBİLMENİZİ SAĞLAYACAKTIR  </h3> <br><br>
                     <h3 style="color: black; margin-left: 20px; margin-right: 20px; ">NEDEN HIZLI TEKRAR ÇÜNKÜ SÖZEL KONULAR OLDUĞU İÇİN BİR HAFTA İÇİNDE HAFIZADAN SİLİNİYOR SINAVDAN 1 HAFTA ÖNCE  BENCE TÜM KONULAR TEKRAR EDİLEBİLİR OLMALI </h3><br><br>
                     <h3 style="color: black; margin-left: 20px; margin-right: 20px ;">YANİ BU SİSTEM KONUYU BİR KEZ ÇALIŞMIŞ KONUDAN HABERİ OLAN BİR KİŞİNİN İŞİNE DAHA ÇOK YARAYACAK BİR SİSTEM O YÜZDEN METİN GERİ PLANLARINI SIFIRLAYIP BİR KEZ OKUYUN ONDAN SONRA İŞARETLİ ŞEKİLLERİ İLE TEKRARLARINIZI YAPIN DERİM KOLAY GELSİN BAŞARILAR</h3>
{% endblock%}
</body>
</html>