{% extends  'layout.html'%}


{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
    .navbar {
    margin-left: 0 !important;
}


header{
    display:run-in ; 
    width: 100%;
    margin: 0;
top: 0;
position: fixed;
border-radius: 10px;

    }
	body{background-color: rgb(80, 193, 159); color: rgb(0, 0, 0); font-size: large; padding: 5px;}

.renki{color: rgb(202, 150, 221);}

ul li {	float: left;margin-right: 20px;}

div {padding-left: 10px; border-style: groove; border-color: black; padding-left: 10px;  overflow: hidden; margin-left: 20px; margin-bottom: 10px; text-align: justify;}

hr{margin-bottom: 15px;}	

span{color: chocolate;}

.ark{background-color:black;}
a{color: white;}
.sadeceborder{border-style: dashed; margin: 0; margin-bottom: 10px; margin-top: 10px;}
.mavi{background-color : darkcyan; border-radius: 20px; color: darkred ; font-size: x-large; }
.dik{background-color: darkred; border-radius: 10px;}
strong{background-color: rgb(0, 225, 255); color: black;}
table{background-color: rgba(8, 110, 8, 0.775); font-size: larger;}
.beyaz{
	background-image: url(  "static/img/bayrak2.jpg");
	background-position: center;	
	top: 5;
	width: 100%;
	position: fixed ; 
	float: left;
	margin-left: 0;
	padding: 5px;
	border-radius: 10px;
	border-bottom: 10px;
	border-style: groove;
	border-color: white;
	margin-bottom: 5px;
	}
    .kal{	
	background-color: rgb(173, 24, 44);
	background-position: center;	
	color: white;
	width: 100%;
    position: fixed;
	float: left;
	margin-left: 0;
	padding: 5px;
	border-radius: 10px;
	border-bottom: 10px;
	border-style: groove;
	border-color: white;}	
    button{
background-color: darkred;
color: white;
    }
</style>
<title>6100 sürler</title>
</head>
<body> <br>
    <div id="kal" class="kal"><button name="butt" value="butt" class="butt" > <a href="index" > ANASAYFA </a></button> </div>
    
	<br><br><br>
	
   	
	<table border="3">6100 deki 2 HAFTA olan süreler
        <tr><th>AÇIKLAMA </th><th>SÜRE</th><th>VARSA EK BİLGİ </th></tr>
    <tr><td>Görevsizlik veya yetkisizlik kararı verilmesi hâlinde, taraflardan birinin, bu karar verildiği anda kesin ise tebliğ tarihinden, (…)(1) süresi içinde kanun yoluna başvurulmayarak kesinleşmiş ise kararın kesinleştiği tarihten; kanun yoluna başvurulmuşsa bu başvurunun reddi kararının tebliğ tarihinden itibaren</td> <td> <strong> iki hafta</strong> içinde kararı veren mahkemeye başvurarak, dava dosyasının görevli ya da yetkili mahkemeye gönderilmesini talep etmesi gerekir</td><td></td></tr>
    <tr><td> İstifa eden vekilin vekâlet görevi, istifanın müvekkiline tebliğinden itibaren </td> <td><strong>iki hafta</strong> süreyle devam eder.</td><td></td></tr>
    <tr><td>Vekil ile takip edilen davada, vekilin azli hâlinde vekâlet veren, davayı takip etmez ve</td> <td><strong>iki hafta</strong> içinde bir başka vekil de görevlendirmez ise tarafın yokluğu hâlinde uygulanacak hükümlere göre işlem yapılır.</td><td></td></tr>
    <tr><td>Eski hâle getirme, işlemin süresinde yapılamamasına sebep olan engelin ortadan kalkmasından itibaren</td> <td><strong>iki hafta</strong> içinde talep edilmelidir</td><td></td></tr>
    <tr><td>Karşı tarafın verdiği bilgi veya tahkikat sonucu alacağın miktarı veya değerinin tam ve kesin olarak belirlenebilmesi mümkün olduğunda, hâkim tarafından tahkikat sona ermeden verilecek(belirsiz alacak davası için)</td> <td><strong> iki haftalık</strong> kesin süre içinde davacı, iddianın genişletilmesi yasağına tabi olmaksızın talebini tam ve kesin olarak belirleyebilir.</td><td></td></tr>
    <tr><td>Avansın yeterli olmadığının dava sırasında anlaşılması hâlinde, mahkemece, bu eksikliğin tamamlanması için davacıya</td> <td><strong>iki haftalık</strong> kesin süre verilir.</td><td></td></tr>
    <tr><td>Dava dilekçesi, mahkeme tarafından davalıya tebliğ edilir. Davalının</td> <td><strong>iki hafta</strong> içinde davaya cevap verebileceği tebliğ zarfında gösterilir.</td><td></td></tr>
    <tr><td>Cevap dilekçesini verme süresi, dava dilekçesinin davalıya tebliğinden itibaren</td> <td><strong>iki haftadır</strong></td><td>Ancak, durum ve koşullara göre cevap dilekçesinin bu süre içinde hazırlanmasının çok zor yahut imkânsız olduğu durumlarda, yine bu süre zarfında mahkemeye başvuran davalıya, cevap süresinin bitiminden itibaren işlemeye başlamak, bir defaya mahsus olmak ve bir ayı geçmemek üzere ek bir süre verilebilir.</td></tr>
    <tr><td>Davacı, cevap dilekçesinin kendisine tebliğinden itibaren</td>    <td><strong>iki hafta </strong>içinde cevaba cevap dilekçesi;</td><td>davalı da davacının cevabının kendisine tebliğinden itibaren <strong>iki hafta</strong> içinde ikinci cevap dilekçesi verebilir.</td></tr>
    <tr><td>Davetiyenin tebliğinden itibaren </td> <td><strong>iki haftalık </strong>kesin süre içinde tarafların dilekçelerinde gösterdikleri, ancak henüz sunmadıkları belgeleri mahkemeye sunmaları veya başka yerden getirtilecek belgelerin getirtilebilmesi amacıyla gereken açıklamayı yapmaları, bu hususların verilen süre içinde yerine getirilmemesi hâlinde o delile dayanmaktan vazgeçmiş sayılacaklarına karar verileceği.</td><td>BU MADDE ÖN İNCELEME DURUŞMASINA ÇAĞIRIRKENKİ MADDE </td></tr>
    <tr><td>Taraflar, bilirkişi raporunun, kendilerine tebliği tarihinden itibaren</td>    <td><strong>iki hafta </strong> içinde, raporda eksik gördükleri hususların, bilirkişiye tamamlattırılmasını; belirsizlik gösteren hususlar hakkında ise bilirkişinin açıklama yapmasının sağlanmasını veya yeni bilirkişi atanmasını mahkemeden talep edebilirler.</td><td></td></tr>
    <tr><td>Bilirkişi raporuna karşı talebin bu süre içinde hazırlanmasının çok zor veya imkânsız olması ya da özel yahut teknik bir çalışmayı gerektirmesi hâlinde yine bu süre içinde mahkemeye başvuran tarafa, sürenin bitiminden itibaren işlemeye başlamak, bir defaya mahsus olmak ve</td> <td><strong>iki haftayı</strong> geçmemek üzere ek süre verilebilir.</td><td></td></tr>
    <tr><td>İstinaf yoluna başvuru süresi</td>    <td><strong>iki haftadır</strong>.</td><td></td></tr>
    <tr><td> Karşı taraf, tebliğden itibaren</td> <td><strong>iki hafta</strong>içinde cevap dilekçesini kararı veren mahkemeye veya bu mahkemeye gönderilmek üzere başka bir yer mahkemesine verebilir.</td><td>İSTİNAF DİLEKÇESİNE CEVAP DİLEKÇESİNDEN BAHİS EDİYORUZ </td></tr>
    <tr><td>İstinaf dilekçesi kendisine tebliğ edilen taraf, başvurma hakkı bulunmasa veya başvuru süresini geçirmiş olsa bile, vereceği cevap dilekçesi ile istinaf yoluna başvurabilir. İstinaf yoluna asıl başvuran taraf, buna karşı </td>    <td><strong> iki hafta</strong> içinde cevap verebilir.</td><td></td></tr>
    <tr><td>Duruşmalı olarak incelenen işlerde taraflara çıkartılan davetiyelerde, duruşmada hazır bulunmadıkları takdirde tahkikatın yokluklarında yapılarak karar verileceği hususu ile başvuran tarafa çıkartılacak davetiyede, ayrıca, yapılacak tahkikatla ilgili olarak bölge adliye mahkemesince belirlenen gideri,</td> <td><strong> iki haftadan</strong> az olmamak üzere verilecek kesin süre içinde avans olarak yatırması gerektiği açıkça belirtilir.</td><td>DURUŞMAYA GELİNMEMESİ VE GİDERLERİN ÖDENMEMESİ</td></tr>
    <tr><td>Bölge adliye mahkemesi hukuk dairelerinden verilen temyizi kabil nihai kararlar ile hakem kararlarının iptali talebi üzerine verilen kararlara karşı tebliğ tarihinden itibaren </td>    <td> <strong>iki hafta</strong> içinde temyiz yoluna başvurulabilir</td><td></td></tr>
    <tr><td>Tebliğ tarihi ile duruşma günü arasında en az</td> <td>iki hafta</strong> bulunması gerekir;</td><td></td></tr>
    <tr><td>İhtiyati tedbir kararı dava açılmasından önce verilmişse, tedbir talep eden, bu kararın uygulanmasını talep ettiği tarihten itibaren</td>    <td><strong>iki hafta</strong> içinde esas hakkındaki davasını açmak ve dava açtığına ilişkin evrakı, kararı uygulayan memura ibrazla dosyaya koydurtmak ve karşılığında bir belge almak zorundadır. Aksi hâlde tedbir kendiliğinden kalkar.</td><td></td></tr></table>
<br><br> <hr>

          
    <table border="3">
        6100 1 HAFTA OLAN süreler
        <tr><th>AÇIKLAMA</th><th>SÜRE </th><th>VARSA EK BİLGİ </th></tr>
        <tr><td>Adli tatile tabi olan dava ve işlerde, bu Kanunun tayin ettiği sürelerin bitmesi tatil zamanına rastlarsa, bu süreler ayrıca bir karara gerek olmaksızın adli tatilin bittiği günden itibaren</td> <td>bir hafta uzatılmış sayılır.</td><td></td></tr>
        <tr><td>Birinci fıkranın <strong> (a), (d), (e), (f) ve (g) bentleri</strong> <strong> dışında kalan</strong> hususların eksik olması hâlinde, hâkim davacıya eksikliği tamamlaması için</td> <td> <strong> bir haftalık</strong> kesin süre verir. Bu süre içinde eksikliğin tamamlanmaması hâlinde dava açılmamış sayılır.</td><td>DAVA DİLEKÇESİ</td></tr>
        <tr><td>(1) 129 uncu maddenin birinci fıkrasının (a), (b), (c), (ç) ve (ğ) bentlerinin cevap dilekçesinde eksik olması hâlinde, bunun giderilmesi için hâkim tarafından</td> <td> <strong> bir haftalık</strong> süre verilir; eksikliğin bu süre zarfında da giderilmemesi hâlinde cevap dilekçesi verilmemiş sayılır.</td><td>CEVAP DİLEKÇESİ</td></tr>
        <tr><td> Ret sebeplerinden birinin bilirkişinin şahsında gerçekleşmesi hâlinde taraflar, bilirkişinin reddini talep edebileceği gibi, bilirkişi de kendisini reddedebilir. Ret talebi veya bilirkişinin kendisini reddetmesinin, ret sebebinin öğrenilmesinden itibaren en geç</td> <td><strong> bir hafta</strong> içinde yapılmış olması şarttır. Ret sebeplerinin ispatı için, yemin teklif edilemez.</td><td></td></tr>
        <tr><td>Bilgisine başvurulan bilirkişi, kendisine tevdi olunan görevin, uzmanlık alanına girmediğini, inceleme konusu maddi vakıaların açıklığa kavuşturulması ve tespiti için, uzman kimliği bulunan başka bir bilirkişi ile işbirliğine ihtiyaç duyduğunu veya görevi kabulden kaçınmasını haklı kılacak mazeretini</td> <td><strong> bir hafta</strong> içinde görevlendirmeyi yapan mahkemeye bildirir.</td><td></td></tr>
        <tr><td>Bilirkişi, incelemesini gerçekleştirebilmek için, bazı hususların önceden soruşturulması ve tespiti ile bazı kayıt ve belgelerin getirtilmesine ihtiyaç duyuyorsa, bunun sağlanması için</td> <td><strong> bir hafta</strong> içinde kendisini görevlendiren mahkemeye bilgi verir ve talepte bulunur.</td><td>3</td></tr>
        <tr><td>Tarafların üzerinde serbestçe tasarruf edemeyeceği dava ve işlerde, hâkim tarafından resen başvurulan deliller için gereken giderlerin,</td> <td><strong> bir haftalık</strong> süre içinde taraflardan birisi veya belirtilecek oranda her ikisi tarafından ödenmesine karar verilir. Belirlenen süre içinde bu işlemlere ait giderleri karşılayacak miktarda avans yatırılmazsa, ileride bu gideri ödemesi gereken taraftan alınmak üzere Hazineden ödenmesine hükmedilir.</td><td>Resen yapılması gereken işlemlere ilişkin giderler</td></tr>
        <tr><td>Adli yardım talebinin reddine ilişkin kararlara karşı, tebliğinden itibaren</td> <td><strong> bir hafta</strong> içinde kararı veren mahkemeye dilekçe vermek suretiyle itiraz edilebilir.</td><td></td></tr>
        <tr><td>İstinaf dilekçesi verilirken, istinaf kanun yoluna başvuru için gerekli harçlar ve tebliğ giderleri de dâhil olmak üzere tüm giderler ödenir. Bunların hiç ödenmediği veya eksik ödenmiş olduğu sonradan anlaşılırsa, kararı veren mahkeme tarafından verilecek</td>    <td><strong> bir haftalık</strong> kesin süre içinde tamamlanması, aksi hâlde başvurudan vazgeçmiş sayılacağı hususu başvurana yazılı olarak bildirilir. Verilen kesin süre içinde harç ve giderler tamamlanmadığı takdirde, mahkeme başvurunun yapılmamış sayılmasına karar verir.</td><td></td></tr>
        <tr><td>(1) İstinaf dilekçesi, kanuni süre geçtikten sonra verilir veya kesin olan bir karara ilişkin olursa, kararı veren mahkeme istinaf dilekçesinin reddine karar verir ve 344 üncü maddeye göre yatırılan giderden karşılanmak suretiyle ret kararını kendiliğinden ilgiliye tebliğ eder.
            (2) Bu ret kararına karşı tebliği tarihinden itibaren</td> <td><strong> bir hafta</strong> içinde istinaf yoluna başvurulabilir.</td><td>2</td></tr>
        <tr><td>Duruşma giderinin eksik ödenmiş olduğu anlaşılırsa, dairenin başkanı tarafından verilecek</td>    <td><strong> bir haftalık</strong> kesin süre içinde tamamlanması, aksi hâlde duruşma talebinden vazgeçilmiş sayılacağı, duruşma isteyene yazılı olarak bildirilir. Verilen süre içinde giderler tamamlanmadığı takdirde, Yargıtay incelemesini dosya üzerinde yapar.</td><td>YARGITAYDA KANUN YOLUNDAKİ DOSYADA YAPILACAK DURUŞMA İÇİN</td></tr>
        <tr><td>İhtiyati tedbir kararının uygulanması, bu kararın, tedbir isteyen tarafa tefhim veya tebliğinden itibaren</td> <td> <strong> bir hafta</strong> içinde talep edilmek zorundadır. Aksi hâlde, kanuni süre içinde dava açılmış olsa dahi, tedbir kararı kendiliğinden kalkar</td><td></td></tr>
        <tr><td>İhtiyati tedbirin uygulanması sırasında karşı taraf hazır bulunuyorsa, tedbirin uygulanmasından itibaren; hazır bulunmuyorsa tedbirin uygulanmasına ilişkin tutanağın tebliğinden itibaren </td>    <td><strong> bir hafta</strong> içinde, ihtiyati tedbirin şartlarına, mahkemenin yetkisine ve teminata ilişkin olarak, kararı veren mahkemeye itiraz edebilir.</td><td></td></tr>
        <tr><td>İhtiyati tedbir kararının uygulanması sebebiyle menfaati açıkça ihlal edilen üçüncü kişiler de ihtiyati tedbiri öğrenmelerinden itibaren</td> <td><strong> bir hafta</strong> içinde ihtiyati tedbirin şartlarına ve teminata itiraz edebilirler.</td><td></td></tr>
        <tr><td>Taraflar, kararın tefhim veya tebliğinden itibaren</td>    <td><strong> bir hafta</strong> içinde karara itiraz edebilir</td><td>(ihtiyati tedbire muhalefet edene verilen disiplin hapsine karşı) İtiraz merci, <strong> bir hafta</strong> içinde kararını verir.</td></tr>
        <tr><td>Tespit talebi mahkemece haklı bulunursa karar, dilekçeyle birlikte karşı tarafa tebliğ edilir. Kararda ayrıca , delil tespitinin nasıl ve ne zaman yapılacağı , tespitin icrası esnasında karşı tarafın da hazır bulunabileceği, varsa itiraz ve ilave soruların</td> <td><strong> bir hafta</strong> içinde bildirilmesi gerektiği belirtilir.</td><td>DELİL TESPİTİ</td></tr>
        <tr><td>Acele hâllerde tespit
            MADDE 403- (1) Talep sahibinin haklarının korunması bakımından zorunluluk bulunan hâllerde, karşı tarafa tebligat yapılmaksızın da delil tespiti yapılabilir. Tespitin yapılmasından sonra, tespit dilekçesi, tespit kararı, tespit tutanağı ve varsa bilirkişi raporunun bir örneği mahkemece kendiliğinden diğer tarafa tebliğ olunur. Karşı taraf tebliğden itibaren </td>    <td><strong> bir hafta</strong> içinde delil tespiti kararına itiraz edebilir.</td><td></td></tr>
     
    </table>
    <br><br><br>
    
    <table border="3">
        6100 gün ile ilgili süreler
        <tr><th>AÇIKLAMA</th><th>SÜRE</th><th>VARSA EK AÇIKLAMA </th></tr>
        <tr><td>Bir kimse, ihtara rağmen mahkemenin düzenini bozar veya mahkeme huzurunda uygun olmayan bir söz söylemeye veya davranışta bulunmaya devam ederse derhâl yakalanır ve hakkında</td><td><strong> dört güne kadar</strong> disiplin hapsi uygulanır. Bu fıkra hükmü avukatlar hakkında uygulanmaz.</td><td></td></tr>
    </table>
<br><br><br>
    <table border="3">6100 AY İLE BELİRLENEN SÜRELER
        <tr><th>AÇIKLAMA</th><th>SÜRE</th><th>VARSA EK AÇIKLAMA</th></tr>
        <tr><td>Duruşma gününün belli edilmesi için tarafların başvurması gereken hâllerde gün tespit ettirilmemişse, son işlem tarihinden başlayarak</td> <td> <strong> bir ay</strong> geçmekle dosya işlemden kaldırılır.</td><td>Tarafların duruşmaya gelmemesi, sonuçları ve davanın açılmamış sayılması
            MADDE 150-</td></tr>
        <tr><td>Dosyası işlemden kaldırılmış olan dava, işlemden kaldırıldığı tarihten başlayarak</td> <td> <strong>üç ay içinde</strong> taraflardan birinin dilekçe ile başvurusu üzerine yenilenebilir. </td><td>Tarafların duruşmaya gelmemesi, sonuçları ve davanın açılmamış sayılması
            MADDE 150-</td></tr>
        <tr><td>Yenileme dilekçesi, duruşma gün, saat ve yeri ile birlikte taraflara tebliğ edilir. Dosyanın işlemden kaldırıldığı tarihten başlayarak</td> <td><strong>bir ay</strong> geçtikten sonra yenileme talebinde bulunulursa, yeniden harç alınır,</td><td>Tarafların duruşmaya gelmemesi, sonuçları ve davanın açılmamış sayılması
            MADDE 150-</td></tr>
        <tr><td>İşlemden kaldırıldığı tarihten başlayarak</td> <td><strong>üç ay</strong> içinde yenilenmeyen davalar, sürenin dolduğu gün itibarıyla açılmamış sayılır ve mahkemece kendiliğinden karar verilerek kayıt kapatılır.</td><td>Tarafların duruşmaya gelmemesi, sonuçları ve davanın açılmamış sayılması
            MADDE 150-</td></tr>
        <tr><td>Bilirkişi raporunun hazırlanması için verilecek süre</td> <td><strong>üç ayı geçemez</strong>. </td><td>2</td></tr>
        <tr><td> Bilirkişinin talebi üzerine, kendisini görevlendiren mahkeme gerekçesini göstererek, süreyi</td> <td> <strong> üç ayı</strong> geçmemek üzere uzatabilir.</td><td>Ancak basit yargılama usulüne tabi dava ve işlerde bu süreler <strong> iki ay</strong> olarak uygulanır.</td></tr>
        <tr><td>Zorunlu nedenlerle sadece hüküm sonucunun tefhim edildiği hâllerde, gerekçeli kararın tefhim tarihinden başlayarak</td> <td><strong>bir ay </strong> içinde yazılması gerekir.</td><td>Hüküm, hükmün verilmesi ve tefhimi
            MADDE 294-</td></tr>
        <tr><td>Taraflardan her biri, nihaî kararın tebliğinden itibaren</td> <td> <strong> bir ay</strong> içinde, yargılamada ileri sürülmesine veya kendiliğinden hükme geçirilmesi gerekli olmasına rağmen hakkında tamamen veya kısmen karar verilmeyen hususlarda, ek karar verilmesini isteyebilir. Bu karara karşı kanun yoluna başvurulabilir.</td><td>Hükmün tamamlanması
            MADDE 305/A- (Ek:22/7/2020-7251/27 md.)</td></tr>
        <tr><td>Duruşma günü kararı verilemeyen işlerin en geç</td>    <td> <strong> bir ay</strong>  içinde karara bağlanması zorunludur.</td><td>TEMYİZ İNCELEMESİ VE DURUŞMA</td></tr>
        <tr><td> Asıl davaya ilişkin hükmün kesinleşmesinden veya ihtiyati tedbir kararının kalkmasından itibaren</td> <td>bir ay içinde tazminat davasının açılmaması üzerine teminat iade edilir.</td><td>İhtiyati tedbirde teminat gösterilmesi
            MADDE 392-</td></tr>
            <tr><td>htiyati tedbir kararının uygulanmasına ilişkin emre uymayan veya tedbir kararına aykırı davranan kimse, ihlalin öğrenildiği tarihten itibaren</td><td><strong> altı ay</strong> içinde şikâyet edilmesi üzerine, <strong> altı aya</strong> kadar disiplin hapsi ile cezalandırılır . </td><td></td></tr>
    </table>

    <br><br><br> AYRICA :
    Disiplin hapsine ilişkin karar, kesinleştiği tarihten itibaren <strong>iki yıl</strong> geçtikten sonra yerine getirilemez. <br><br>
    Tazminat davası açma hakkı, hükmün kesinleşmesinden veya ihtiyati tedbir kararının kalkmasından itibaren, <strong>bir yıl</strong> geçmesiyle zamanaşımına uğrar. <br><br>
    Adli yardım kararından dolayı ertelenen tüm yargılama giderleri ile Devletçe ödenen avanslar dava veya takip sonunda haksız çıkan kişiden tahsil olunur. Adli yardımdan yararlanan kişinin haksız çıkması hâlinde, uygun görülürse yargılama giderlerinin <strong>en çok bir yıl</strong> içinde aylık eşit taksitler hâlinde ödenmesine karar verilebilir. <br><br>
    Devlet, ödediği tazminat nedeniyle, sorumlu bilirkişiye, ödeme tarihinden itibaren<strong> bir yıl </strong>içinde rücu eder. Hükme esas alınan bilirkişi raporu kasten gerçeğe aykırı olarak düzenlenmişse, bu durumda, ceza zamanaşımı süresi uygulanır.
    
    
</table>
</body>
</html>
{% endblock%}	