{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card border-danger text-center">
            <div class="card-header bg-danger text-white">
                DİKKAT!!!
            </div>
            <div class="card-body">
               <h4 class="card-title">🚫 BU SAYFAYA ULAŞMA YETKİNİZ YOK<br>
    
</h4>
                <p class="card-text">
                    Bu içerik sadece ödeme yapmış kullanıcılar için aktiftir.<br>
                    Lütfen ödeme yaparak erişim sağlayın.
                </p>
                <a href="{% url 'odeme_sayfasi' %}" class="btn btn-primary">ÖDEME YAP </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
