{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card header bg-primary text-white">
        <h4>KAYIT OL</h4>
      </div>
      <div class="card-body">
        <form action="{% url 'register' %}" method="POST">
          {% csrf_token %}

          <div class="form-group">
            <label for="username">BİR KULLANICI ADI OLUŞTURUNUZ</label>
            <input type="text" name="username" class="form-control" value="{{ username|default:'' }}" required>
          </div>

          <div class="form-group">
            <label for="email">E-MAİL ADRESİNİZ</label>
            <input type="email" name="email" class="form-control" value="{{ email|default:'' }}" required>
          </div>

          <div class="form-group">
            <label for="telefon">TELEFON NUMARANIZ</label>
            <input type="text" name="telefon" class="form-control" value="{{ telefon|default:'' }}" required>
          </div>

          <div class="form-group">
            <label for="password">ŞİFRE OLUŞTURUNUZ</label>
            <input type="password" name="password" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="repassword">ŞİFRE TEKRAR</label>
            <input type="password" name="repassword" class="form-control" required>
          </div>

          <button type="submit" class="btn btn-primary btn-block">KAYIT OLUŞTUR</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
